* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/963319.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100svh;
  max-width: 100%;
}

/* ***NAVBAR*** */

ul {
  list-style: none;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  background: #1b1b1b;
}

ul li {
  display: block;
  /* justify-content: center;
  flex-direction: row; */
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: #1b1b1b;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #a0a14e;
}

ul li:hover ul.dropdown {
  display: block;
}

/* ***OTHER TAGS*** */

p {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 130px;
  height: 130px;
}

/* ***SEARCH BAR*** */

.search {
  max-width: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  border-color: black;
}

.search input[type="text"] {
  width: 400px;
  padding: 8px;
  margin-right: 10px;
  border: none;
  font-size: 17px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

/* IDs */

#home {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

#bulbasaur {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#camera {
  width: 24px;
  height: 24px;
  margin-right: 10px;

  /* top: 50%;
  left: 50%; */
}

#pokemon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-top: 10em;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 38, 36);
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

#item-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-top: 10em;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 38, 36);
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

#item-data h2 {
  margin-bottom: 10px;
}

#item-data img {
  max-width: 100%;
  height: auto;
}
